@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Santoshi";
    src: url("/public/fonts/Satoshi-Regular.otf") format("otf");
    font-weight: 400;
  }
}
.gradient {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #ff4800;
  background-blend-mode: overlay, normal;
}
