@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #ff4800;
  background-blend-mode: overlay, normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Light.otf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Medium.otf");
  font-weight: medium;
  font-style: normal;
}

* {
  font-family: "Satoshi", sans-serif;
}

.box-shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06);
}
